@media screen and (max-width: 600px) {
    /* .container1{
        height: 100vh;
    } */
    
    .img1{
        height: 80%;
        width: 100%;
    }
.container2{
    display: flex;
    flex-direction: column;
}
.icon1 {
margin: 2%}
.lorem1{
    width:60vw;
    line-height: 1.2rem;
    font-size: 1em;
}
.btn1{
    width: 80vw; 
    height: 2rem; 
    font-size: 0.8rem; 
}
.container3{
font-size: 1.2rem;
}
.lorem2{
    width:70vw;
    line-height: 4rem;
    font-size: 1.8rem;
}
.icon-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
justify-content: center;}
  
        .icon2 {
     
            width:3rem; 
            height: 3rem; 
            font-size : 1.8rem;
padding-bottom: 0.2rem;
        margin : 0.5rem
    }
    .line {
        width: 0rem; 
        height: 0px; 
        background-color: black; 
        /* margin: 50px 0 0px 0 ; */
    }
    .lorem2{
        width:70vw;
        line-height: 1rem;
        font-size: .8rem;
    }
    .btn2{
        width: 70vw;
        height: 7%; 
        margin-top: 1.5rem;
 


    }
    .lorem3{
        width:70vw;
line-height: 1.8rem;;    }
    .consection3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .consection3c{
        display: flex;
        flex-direction: column-reverse;
    }
    .loremsection3{
        width:60vw;
        line-height: 1.4rem;
        font-size: 1.2rem;
    }
    .smallContainer{
align-items: center;
margin-bottom: 2rem;

}
.section4{
    height: 100vh}

  

.img{
    width: 80vw;
    margin-bottom: 1.5rem;
}
.custom-line {
    width: 2em; 
}
.lorem4{
    text-align:center;
font-size: 1.4rem;
width: 75vw;
line-height: 2.2rem;
color: aliceblue;
}
.consection5{
flex-direction: column;
padding-top:4rem;
height: 100vh;

}
.input1{
    width: 80vw;
}
.consection5b{
    margin-left: 1rem;
}
#message{
    width:21rem;
    height: 6rem;}
    .btn4{
        width: 21rem; 
        height: 3rem;
        font-size: 1.5rem;
    
    }

}