body{
    display: flex;
    flex-direction: column;
}
.icon1 {
    /* display: block;  */
    width: 50px; 
    height: 50px; 
    text-align:center; 
    line-height:3rem; 
    font-size : 2.5rem;
    color :rgb(255, 255, 255);
font-weight: bold;
margin :2rem;
float:right;
border-radius: 50%;
background-color: rgb(66, 68, 68);}

.container1{
    display: flex;
    flex-direction: column;
    margin :1.5rem;
    height: 90vh;
}
.container2{
    /* padding-left: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
align-items: center;
}

.img1{
    border-radius: 50%;
    width:90%;
    height: 90%;

}
.reflex{
    font-size: 3rem;
color: rgb(74, 75, 75);
}
.lorem1{
    width:30vw;
    line-height: 2rem;
    font-size: 1.5em;
    color:rgb(118, 121, 125)
}
.btn1{
    width: 10rem; 
    height: 4rem; 
    background-color:rgb(255, 255, 255); 
    color:rgb(104, 106, 110); 
    border:1;
    border-color:rgb(160, 161, 163);
    border-radius: 40px; 
    font-size: 18px; 
    cursor: pointer;
}
.container3{
    background-color: rgb(228, 229, 231);
    height: 70vh;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    
}

.custom-line {
    width: 4em; 
    height: 1px; 
    background-color: black;}
    .icon-container{
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        width: 60vw;
        
            }
    .icon2 {
     
    width:5rem; 
    height: 5rem; 
    text-align:center; 
    line-height:4rem; 
    font-size : 2.5rem;
    color : rgb(66, 68, 68);
font-weight: bold;
/* margin :2rem; */
border: solid;
border-radius: 50%;
border-color: rgb(77, 76, 75);
background-color:aliceblue;
padding: 0.5rem 0.5rem 0.5rem rem;
    }

    .line {
        width: 5rem; 
        height: 1px; 
        background-color: black; 
        margin: 50px 0 0px 0 ;
    }
.lorem2 {
    width: 60vw;
    line-height: 2rem;
    font-size: 1.5rem;
    color:rgb(118, 121, 125)
} 
.btn2{
    width: 8rem; 
    height: 3rem; 
    background-color:rgb(228, 229, 231); 
    color: rgb(131, 132, 134); 
    border:1;
    border-color:rgb(104, 106, 110);
    border-radius: 40px; 
    font-size: 18px; 
    cursor: pointer;
    
}
.container4{
    /* background-color: rgb(228, 229, 231); */
    /* height:fit-content; */
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    
}
/* p{
    width:40vw;
    text-align: center;
    
} */
.consection3{
    display: flex;
    width: 80vw;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}
.lorem3{
   text-align:center;
   width: 40vw;
   color:rgb(118, 121, 125)
}
.loremsection3{
    width:40vw;
    line-height: 2.5rem;
    font-size: 1.8rem;
    color:rgb(118, 121, 125);
}
.smallContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 5rem 4rem;
    height: 60vh; */

}
.consection3b{
    display: flex;
    flex-direction: column;
align-items: center;

}
img{
    width:80%;
}

.section4{
    background-image: url('img/img5.jpg');
    background-size: cover;
    height: 65vh;
    width:100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;}
    .consection4{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    width: 70vw;
    height: 50vh;

}
.btn3{
    color: aliceblue;
    background-color: transparent;
    border-color: aliceblue;
}
.line2{
    width: 5em;
    background-color: aliceblue;
    
}
.lorem4{
    text-align:center;
font-size: 1.8rem;
line-height: 2.8rem;
width: 50vw;
color: aliceblue;
}
 .consection5{
    height: 90vh;
    /* width: 100vw; */
    display: flex;
    flex-direction: row; 
    justify-content: center;
    background-color: rgb(228, 229, 231);



}
.icon-container2{
    display: flex;
    flex-direction: row; 
    margin-left: 1rem;
}
.icon2b{
    width:3.8rem; 
    height: 3.8rem; 
    font-size : 1.8rem;
    margin-left: 1rem;








    background-color: transparent;
}
.consection5b{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: left;
    height: 60vh;
    margin: 5rem 4rem;


}
.input1{
    width: 12rem;
    height: 2.5rem;
    margin: 1rem 1rem 1rem 0rem;
    border: 1;
    border-radius: 10%;
    border-color:rgb(201, 203, 205);
    font-size: 1rem;
    color: rgb(166, 168, 169);
    padding: 0.3rem;
}
#message{
    width:27rem;
    height: 6rem;
    margin-bottom: 2rem;
    margin-top: 1.4rem;
    font-size: 1.5rem;
    color: rgb(166, 168, 169);
    padding-top: 0.5rem;
}
.btn4{
    width: 12rem; 
    height: 3rem;
    font-size: 1rem;

}